/* Polices des différentes pages
    Font par défaut + logo : Monserrat
    Font la note enchantée : font-family: 'Ma Shan Zheng', cursive; 
    Font Le délices des papilles : font-family: 'Amita', cursive;
    Font le chic à la française : font-family: 'Playfair Display SC', serif;
    Font la palette du goût : font-family: 'Courgette', cursive; */
/* @font-face {
    font-family: 'Playfair Display SC';
    src: local(font/PlayfairDisplay-Regular),
         local(font/PlayfairDisplay-Bold);
}
@font-face {
    font-family: 'Amita';
    src: local(font/Amita-Regular),
         local(font/Amita-Bold);
}
@font-face {
    font-family: 'Kaushan Script' format('truetype');
    src: local(font/KaushanScript-Regular);
}
@font-face {
    font-family: 'Ma Shan Zheng' format('truetype'); 
    src: local(font/MaShanZheng-Regular);
} */
/* Animation du wiggle sur mentions et contact */
@keyframes wiggle {
   
    10% {
        transform: translateX(-5px);
    }
    20% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-8px);
    }
    40% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    70% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-5px);
    }
    
}

/* styles globaux */

body {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    
}

header, footer {
    background-color: #579C87;
    color: #FCCA46;
    font-family: montserrat; 
}

header {
    padding: 0;
    margin-top: 0px;
    margin: auto;
}

header h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    font-weight: bold;
}

footer {
    position:fixed;
	bottom:0;
	
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    
}
footer a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    
}

.mentions:hover {
    animation-name: wiggle;
    animation-duration: 1.5s;
    
}
.contact:hover {
    animation-name: wiggle;
    animation-duration: 1.5s;
}

footer a:visited {
    text-emphasis: none;
    text-decoration: none;
    color: #FCCA46;
}
footer a {
    color: #FCCA46;
    text-decoration: none;
}

a {
    text-decoration: none;
    text-emphasis: none;
    text-decoration: none;
    color: #FCCA46;
}

a:visited {
    text-emphasis: none;
    text-decoration: none;
}
.soon, .soon a{
    margin-bottom: 100px;
    background-color: #579C87;
    border-radius: 10px;
    color: #FCCA46;
    border: 0px;
    font-size: x-large;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

i {
    font-size: 3rem;
    background: linear-gradient(90deg, #c77425 0%,#c79812 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Les menus sur la page accueil */

#menu {
    max-width: 500px;
}

.conteneur {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
}

.menu {
    height: 500px;
    width: 300px;
    margin: auto;
    
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 12px #555;
}
.contentMenu h2 {
    margin: 10px 0px 10px 0px;
}

.contentMenu {
    padding-top: 160px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    opacity: 1;
}

.contentMenu:hover {
    transform: scale(1.15);
    opacity: 0.5;
    transition: all 400ms;
}

section h2 {
    font-size: 3rem;
}

/* Sytle du menu "La note enchantée" */

.laNote {
    background-color: #FCDFDA;
    font-family: 'Ma Shan Zheng', cursive;
    
}
.laNote h2,h3,i {
    color: rgb(60, 18, 24);
}
.laNote h3 {
    font-family: 'Amita', cursive;
}

/* Style du menu "Le chic à la française" */

.leChic {
    background-color:#FFF5FE ;  
    font-family: 'Playfair Display SC', serif;
}
.leChic h2{
    color: rgb(196, 118, 15);
}
.leChic h3{
    background: linear-gradient(160deg, #c77412 0%,#905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.break {
    flex-basis: 100%;
    height: 0;
  }

/* Styles du menu "Le délice des papilles" */

.leDelice {
    background-color:#F9F9F9 ;
    font-family: 'Amita', cursive;
}
.leDelice h2 {
    color: #0887FB;
}
.leDelice h3 {
    background: linear-gradient(45deg, #0431df 0%,#0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Styles du menu "La palette du goût" */

.laPalette {
    background-color: #FDFFFD;
    font-family: 'Kaushan Script';
}

.laPalette h2 {
    color: rgb(114, 191, 86);
}
.laPalette h3 {
    background: linear-gradient(45deg, #3d9339 0%,#bfff7e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





